modules = ["web", "python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Build Installer"
author = 41820385
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python setup.py"

[[workflows.workflow]]
name = "Run"
author = 41820385
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/main.py"
